<header role="banner">
  <div class="row full-width" data-equalizer>
    <div class="header__brand" data-equalizer-watch>
      <%- partial("../components/_offcanvas-menu") %>
      <%- partial("_logo") %>
    </div>
    <div class="header__details" data-equalizer-watch>
      <div class="header__phone"><%= phone %></div>
    </div>
  </div>
  <%- partial("../components/_top-bar", { hasName: false }) %>
</header>
