<hr class="half-rule">
<footer role="contentinfo">
<div class="footer-top row">
  <div class="small-12 columns text-center">
    <h4>We want to protect what matters most to you.</h4>
    <a class="button" href="/insurance-quotes">Get a Quote</a>
  </div>
</div>
<hr>
<div class="footer-bottom text-center">
  <p class="copyright">&copy; 20XX Company Name, All Rights Reserved. Made by <a href="http://www.agencyrevolution.com">Agency Revolution</a> in Oregon</p>

  <ul class="medium-6 medium-centered columns inline-list">
    <li>Nav Links</li>
    <li>No Login</li>
  </ul>
</div>
</footer>
