<footer role="contentinfo">
<div class="footer-top row">
  <div class="small-12 columns text-center">
    <h4>
    We want to protect what matters most to you,
    <a href="/insurance-quotes">get a quote.</a>
    </h4>
  </div>
</div>
<div class="footer-bottom text-center">
  <p class="copyright">&copy; <script>document.write(new Date().getFullYear());</script> <%= title %>, All Rights Reserved. Prototype by <a href="http://<%= authorUrl %>"><%= author %></a> in Oregon</p>
  <span class="social"><%- partial("_social") %></span>
</div>
</footer>
