<div class="page-template page-template-index">

  <section class="main" role="main">
    <div id="TopPane" class="top"></div>
    <div class="row">
      <div id="AsidePane" class="aside" role="complementary"></div>
      <div id="ContentPane" class="content"></div>
    </div>
    <div id="BottomPane" class="bottom" runat="server"></div>
  </section>

</div>
