<!doctype html>
<html class="no-js <%= current.path[0] ? current.source : '' %>" lang="en-US">
<head itemscope itemtype="http://schema.org/WebSite">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title itemprop="name"><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async></script>
  <link id="favicon" rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
