<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <a class="left-off-canvas-toggle" href="#" >Menu</a>

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <%- partial("../partials/_navigation") %>
        </ul>
    </aside>

    <%- partial("../partials/_main") %>

    <a class="exit-off-canvas"></a>

  </div>
</div>
