<div class="qquote row">
  <h2 class="qquote__title"><%= quoteTitle %></h2>
  <input id="e_2" class="qquote__postal" maxlength="5" value="Zip/Postal Code" type="text">
  <select id="e_1" class="qquote__niches"> 
    <option value="/personal/auto-insurance">Auto Insurance</option>
    <option value="/personal/home-insurance">Home Insurance</option>
    <option value="/commercial-insurance">Commercial</option>
    <option value="/commercial/workers-compensation">Workers Compensation</option>
  </select>
  <div id="saveForm" class="qquote__button"><i class="fi-check"></i></div>
</div>
