.banner {
  &__wrap {
    @extend %row;
    padding: 20px 0;
  }
}

.header {

  &__brand,
  &__details {
    @extend %text-center;
  }

  &__brand {
    @extend %medium-6;
    @extend %medium-text-left;
    user-select: none;

    img {
      height: 48px;
      width: 284px;
    }
  }

  &__details {
    @extend %medium-6;
    @extend %medium-text-right;
  }

  &__phone {
    font-size: rem-calc(26);
    font-weight: bold;
    line-height: 1;
  }

}
